.myCard {
    max-width: 60% !important;
    margin-top: 20px;
    margin-left: 25%;
}

.col>.card {
    height: 400px;
}


.input {
    background-color: #ffffff;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    color: #222222;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.input:focus {
    outline: none;
    border: 1px solid #006f21;
}

.btn {
    width: 100%;
}

.list-group-numbered>.list-group-item {
    border: none;
}

.header-card {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 870px) {
    /* En dessous de 800px*/

    body {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .col>.card {
        height: 500px;
        margin-bottom: 15px;
    }

    .card > .card-body > div > .row > .col > p {
        font-size: 11px !important;
    }
}