.myCard {
    max-width: 60% !important;
    margin-top: 20px;
    margin-left: 25%;
}

.col > .card {
    width: 280px;
    height: 400px;
}


.input {
    background-color: #ffffff;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    color: #222222;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.input:focus {
    outline: none;
    border: 1px solid #006f21;
}

.btn {
    width: 100%;
}

.list-group-numbered > .list-group-item {
    border: none;
}

@media (max-height: 300px) {
    .body {
        min-height: 100%;
    }
  }